#gauge-card-body-dos{
    height: 300px;
}

@media (min-width: 768px) {
    #gauge-card-body-dos{
        height: 200px;
    }
 }
 @media (min-width: 992px) {
    #gauge-card-body-dos{
        height: 300px;
    }
 }
 @media (min-width: 1200px) {
    #gauge-card-body-dos{
        height: 330px;
    }
 }